[submodule "tests/fixtures"]
	path = tests/fixtures
	url = https://github.com/yaml/yaml-test-suite
[submodule "modules/libfyaml"]
	path = modules/libfyaml
	url = https://github.com/pantoniou/libfyaml
