[submodule "modules/zig-yaml"]
	path = modules/zig-yaml
	url = https://github.com/kubkon/zig-yaml
[submodule "modules/ymlz"]
	path = modules/ymlz
	url = https://github.com/pwbh/ymlz
[submodule "tests/fixtures"]
	path = tests/fixtures
	url = https://github.com/yaml/yaml-test-suite
[submodule "modules/fangz"]
	path = modules/fangz
	url = https://github.com/jassielof/fangz
